{% extends 'homepage.html' %}

{% block title %}{{Name}}{% endblock %}
{% block main %}
<div class="row justify-content-center" style="margin-top: 2em;">
    <img src="http://bayanbox.ir/view/28249958697485618/86418032b715698a4dfa6684b50c12af.gif" style="width: 40%;">
    <h3 style="font-weight: bold;font-size: 2em;text-align: center;margin-top:15px">You have Predicted the Unpredicted 😝</h3>

    <div class="row justify-content-center" style="width:100%;margin-top:2em;">
        <center>
            <a href="/">
                <button class="btn btn-success">Go Back to Homepage</button>
            </a>
        </center>
    </div>
</div>


{% endblock %}