{% extends 'homepage.html' %}

{% block title %}{{Name}}{% endblock %}
{% block main %}

<div class="row justify-content-center" style="margin-top: 2em;">
  
  {% if index==0 %}
    <img src="https://i.makeagif.com/media/4-22-2018/E8eKov.gif" style="width: 30%;">
    <h3 style="font-weight: bold;font-size: 2em;text-align: center;margin-top:1em;">You are perfectly alright 😁</h3>

    <div class="row justify-content-center" style="width:100%;margin-top:1.5em;">
        <center>
            <a href="/">
                <button class="btn btn-success">Go Back to Homepage</button>
            </a>
        </center>
    </div>
  {% endif %}
  {% if index==1 %}
    <img src = "https://media1.tenor.com/images/8b6b93b0107e62c4774796c7f5d785a7/tenor.gif?itemid=4798070" style="width: 40%;">
    <h3 style="font-weight: bold;font-size: 2em;text-align: center;margin-top:1em;">Strengthen you heart! You are prone to heart disease 😔</h3>

    <div class="row justify-content-center" style="width:100%;margin-top:2em;">
        <center>
            <a href="/">
                <button class="btn btn-success">Go Back to Homepage</button>
            </a>
        </center>
    </div>
  {% endif %}
</div>

{% endblock %}