{% extends 'homepage.html' %}

{% block title %}{{Name}}{% endblock %}

<body onkeydown="return (event.keyCode != 116)">
  {% block main %}

  <div style="background-color:#f6f6f6;padding:2em;margin-top:1em">
    <h1 class="list-group-item list-group-item-success" style="font-weight:bold;color:rgb(0,0,150);text-align:center">DISEASE PREDICTOR</h1>
    <!-- <h1 style="font-weight:bold;color:rgb(0,0,150)">Symptom Predictor</h1> -->

    <form class="form-inline row justify-content-center" action="{{ url_for('symptom_predict')}}" method="post">
      {% for j in range(7) %}

      <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12" style="padding:1.5em">
        <label style="font-weight:bold;padding-bottom:5px" for="{{j}}">Symptom {{j+1}}</label>
        <select name="{{j}}" id="{{j}}" class="form-control" title="Please Choose one item" required>
          <option disabled selected hidden value="0">Select a symptom</option>
          <option value="0">None</option>
          {% for i in diseases%}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
      {% endfor %}

      <div class="row justify-content-center mt-4">
        <button class="btn btn-outline-primary col-sm-12 col-xs-6">Predict</button>
      </div>

    </form>
  </div>
  {% endblock %}
</body>
<script>

</script>